[Unit]
Description=springboot
After=syslog.target

[Service]
ExecStart=/var/springboot/spring-boot-sample-jetty-1.0.0.RC5.jar

[Install]
WantedBy=multi-user.target
